# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
.factorypath

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Minecraft
run/
run-data/
eclipse/
logs/
crash-reports/

# OS
.DS_Store
Thumbs.db

# Files from Forge MDK
forge*changelog.txt
